<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EstudiantesDB"
             connectionString="Server=LAPTOP-PL8Q7BP5;Database=EstudiantesDB;User Id=sa;Password=123;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>